<div class="Global" *ngIf="movieId">

  <div class="gauche">
      <div class="poster">
        <img [src]="getPath()" />
      </div>

      <div class="actions">
        <app-add-film  [movieId]="movieId"></app-add-film>
      </div>

      <div class="note">
          note : {{movie.vote_average}}
      </div>
  </div>


  <div class="droite">
      <h1>{{movie.title}}</h1>
      <ul>
        <li> Année :  {{movie.release_date.slice(0,4)}} </li>
        <li> Status : {{movie.status}} </li>
        <li> Revenu : {{movie.revenue | currency:'USD':'symbol':'1.0-0'}} </li>
        <li> Budget : {{movie.budget | currency:'USD':'symbol':'1.0-0'}}</li>
        <li> Compagnies de production :
            <ng-container *ngFor="let cp of movie.production_companies">
              {{cp.name}} ,
            </ng-container>
        </li>
        <li> Langues :
          <ng-container *ngFor="let l of movie.spoken_languages">
            {{l.name}} ,
          </ng-container>
        </li>
        <li> Acteurs :
          <ng-container *ngFor="let c of cast">
            <a [routerLink]="['/actor/'+c.id]" >
              {{c.name}}</a>
            ,
          </ng-container>
        </li>
        <li> Genres :
          <ng-container *ngFor="let g of movie.genres">
            <a [routerLink]="['/genre/'+g.id]" >
              {{g.name}}</a>
            ,
          </ng-container>
        </li>
        <li class="synopsis"> Synopsis : {{movie.overview}} </li>
      </ul>
  </div>
</div>
