<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" ([opened])="sideNavVisible" >
    <app-lists-manager></app-lists-manager>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();" [style.visibility]="user ? 'inherit' : 'hidden'">
          <mat-icon *ngIf="!sidenav.opened">list</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <button [routerLink]="['..']" mat-icon-button><mat-icon>home</mat-icon></button>
        <button (click)="goPrevious()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
        <button mat-stroked-button [matMenuTriggerFor]="menuGenres">Genres</button>
        <mat-menu #menuGenres="matMenu" >
          <a mat-menu-item [routerLink]="['/genre/'+g.id]" *ngFor="let g of genres">{{g.name}}</a>
        </mat-menu>
        <span class="spacer"></span>
        <app-recherche></app-recherche>
        <span class="spacer"></span>
        <div class="login">
          <div class="connexion" *ngIf="!user">
            <app-connexion></app-connexion>
            <app-creation-compte></app-creation-compte>
          </div>
          <div *ngIf="user">
            <app-logout></app-logout>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>


    <!--<header>
      <button mat-fab color="primary" (click)="sidenav.toggle();" [style.visibility]="user ? 'inherit' : 'hidden'">
        <mat-icon *ngIf="!sidenav.opened">list</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <a [routerLink]="['..']"><button mat-fab><mat-icon>home</mat-icon> </button></a>
      <button mat-stroked-button [matMenuTriggerFor]="menuGenres">Genres</button>
      <mat-menu #menuGenres="matMenu" >
        <a mat-menu-item [routerLink]="['/genre/'+g.id]" *ngFor="let g of genres">{{g.name}}</a>
      </mat-menu>

      <app-recherche></app-recherche>
      <button mat-fab style="visibility: hidden"><mat-icon>settings</mat-icon></button>
    </header>
    <div class="login">
      <div class="connexion" *ngIf="!user">
        <app-connexion></app-connexion>
        <app-creation-compte></app-creation-compte>
      </div>
      <div *ngIf="user">
        <app-logout></app-logout>
      </div>
    </div>-->

    <section class="contenu">
      <router-outlet></router-outlet>
    </section>



  </mat-sidenav-content>
</mat-sidenav-container>

