
<ul class="filters">
  <li *ngFor="let g of genresId"><mat-checkbox [(ngModel)]="g.selected">{{tmdb.getMovieGenreName(g.genreId)}}</mat-checkbox></li>
</ul>


<ul *ngIf="currentSearchRes">
  <app-element-film [movies]="filterResults(currentSearchRes)"></app-element-film>


  <li *ngFor="let p of currentPeopleSearchRes.results">
    <a routerLink="/actor/{{p.id}}">
      <mat-card>
        <mat-card-header>
          {{p.name}}
        </mat-card-header>
      </mat-card>
    </a>
  </li>

</ul>


