


<ul class="filters">
  <mat-chip *ngFor="let g of genresId" color="primary" [selected]="g.selected" (click)="g.selected = !g.selected">
    <mat-icon *ngIf="g.selected">done</mat-icon>
    <mat-icon *ngIf="!g.selected">close</mat-icon>
    {{tmdb.getMovieGenreName(g.genreId)}}
  </mat-chip>
</ul>


<ul *ngIf="currentSearchRes">
  <app-element-film [movies]="filterResults(currentSearchRes)"></app-element-film>


  <li *ngFor="let p of currentPeopleSearchRes.results">
    <a routerLink="/actor/{{p.id}}">
      <mat-card>
        <mat-card-header>
          {{p.name}}
        </mat-card-header>
      </mat-card>
    </a>
  </li>

</ul>


