<li *ngFor="let movie of movies">
  <mat-card *ngIf="movie">
    <mat-card-content>
      <a [routerLink]="['/movie/'+movie.id]" >
        <img src="{{getPath(movie.poster_path)}}" />
        <div class="title">{{movie.title}}</div>
      </a>
      <mat-chip-list *ngIf="movie.genre_ids"  class="genres mat-chip-list-stacked">
          <mat-chip *ngFor="let g of movie.genre_ids" [routerLink]="['/genre/'+g]" style="cursor:pointer">{{tmdb.getMovieGenreName(g)}}</mat-chip>
      </mat-chip-list>

      <mat-chip-list *ngIf="movie.genres"  class="genres mat-chip-list-stacked">
        <mat-chip *ngFor="let g of movie.genres" [routerLink]="['/genre/'+g.id]" style="cursor:pointer">{{g.name}}</mat-chip>
      </mat-chip-list>
      <app-add-film  [movieId]="movie.id"></app-add-film>
    </mat-card-content>
  </mat-card>

</li>
